<!DOCTYPE html>
<html lang="en">

<head>
	<title>Binge Watcher</title>
	<meta charset="UTF-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/assets/css/logic.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/index.css" type="text/css" />
</head>

<body>
	<!--TEMPLATE-->
	
	{{{ body }}}

	<!--scripts-->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/logic.js"></script>
	<script src="/assets/js/anime.js"></script>
</body>

</html>

