<link rel="stylesheet" href="assets/css/form.css">

<div id ="form" class="container">
<div class="jumbotron">
    <h1>Log In!</h1>

    <form id="login" name="login" method="get" action="dashboard">
        <div class="row">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        </div>
         <div class="row">
        <label for="firstname">Firstname</label>
        <input name="firstname" type="text" />
        </div>
        <div class="row">
        <label for="lastname">Lastname</label>
        <input name="lastname" type="text" />
        </div>
        <div class="row">
        <label for="password">Password</label>
        <input name="password" type="password" />
         </div>
        <div class="row">
        <input class="btn" type="submit" value="login" />
        </div>
    </form>
</div>
</div>