html {
  font-size: 16px;
}

body {
  font-size: calc(.8em + .8vw);
  line-height: calc(1em + .8vw);
}

.title {
	font-size: 16vw;
	line-height: 1.2em;
	font-weight: 700;
	text-align: center;
}
img#mainPoster {
	width: 36vw;
}
img#poster {
}
img#backdrop {
	width: 55vw;
}
#profile {
/*	border-radius: 1em;*/
}
.profile {
	min-height: 20vh;
}
.profile img {
	width: 20vw;
	margin-bottom: .2em;
}
.profileList {
  overflow-x: scroll;
  overflow-y: hidden;
  height: 60%px;
  width: 100%;
  padding: .3em .6em;
  border: 1px solid black;
}

.profileList .profileItem {
  border: 1px solid black;
  padding: 0;
}

.profileList .list-inline {
  white-space: nowrap;
}



.modal-dialog {
  width: 90vw;
}
.modal-body {
  max-height: 70vh;
  overflow-y: scroll;
}
