body {
	background: linear-gradient(to bottom, rgba(0,0,0,0.66) 100%, transparent), url(/assets/img/bricks.png);
	background-size: cover, cover;
	background-position: center, center;
color: #FFF;
}

#main {
	height: 50vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar-brand {
	color: black;
}

.letters {
	color: #D10BF4;
	text-align: center;
	font-weight: 900;
	font-size: 36px;
}

#movie-search {
	margin: 0 25% 0;
}

#img {
	margin: auto;
}